:root {
   --h1: 65px/1.2 DINPro-Bold;
   --h2: 40px/1.1 DINPro-Medium;

   --p1: 24px/1.2 DINPro-Medium;
   --p2: 24px/1.2 DINPro-Regular;
   --p3: 18px/1.2 DINPro-Medium;
   --p4: 18px/1.2 DINPro-Regular;

   @include media(max, lg) {
      --h1: 32px/1.2 DINPro-Bold;
      --h2: 24px/1.1 DINPro-Medium;

      --p1: 18px/1.2 DINPro-Medium;
      --p2: 18px/1.2 DINPro-Regular;
      --p3: 16px/1.2 DINPro-Medium;
      --p4: 16px/1.2 DINPro-Regular;
   }

   @include media(max, md) {
      --h1: 24px/1.2 DINPro-Bold;

      --p1: 16px/1.2 DINPro-Medium;
      --p2: 16px/1.2 DINPro-Regular;
      --p3: 12px/1.2 DINPro-Medium;
      --p4: 12px/1.2 DINPro-Regular;
   }
}


.h1 {
   font: var(--h1);
}

.h2 {
   font: var(--h2);
}

.p1 {
   font: var(--p1);
}

.p2 {
   font: var(--p2);
}

.p3 {
   font: var(--p3);
}

.p4 {
   font: var(--p4);
}