.container {
   --padding-container: 71px;
   max-width: 1280px;
   margin: 0 auto;
   box-sizing: content-box;
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);

   @include media(max, lg) {
      --padding-container: 40px;
   }

   @include media(max, md) {
      --padding-container: 20px;
      max-width: unset;
   }
}