<section class="articles">
   <div class="container">
      <h2 class="articles__title h2">Полезные статьи</h2>

      <ul class="articles__list">
         <li class="articles__item">
            <a href="/">
               <article class="articles__card">
                  <picture class="articles__image">
                     <source
                        media="(max-width: 1439px)"
                        srcset="./images/cat-1-tablet.png 1x, ./images/cat-1-tablet@2x.png 2x"
                     >
                     <img
                        src="./images/cat-1-desktop.png"
                        srcset="./images/cat-1-desktop.png 1x, ./images/cat-1-desktop@2x.png 2x"
                        alt="Котенок"
                     >
                  </picture>

                  <p class="articles__text p3">Подготовка <br> к&nbsp;появлению котенка</p>
               </article>
            </a>
         </li>

         <li class="articles__item">
            <a href="/">
               <article class="articles__card">
                  <picture class="articles__image">
                     <source
                        media="(max-width: 1439px)"
                        srcset="./images/cat-2-tablet.png 1x, ./images/cat-2-tablet@2x.png 2x"
                     >
                     <img
                        src="./images/cat-2-desktop.png"
                        srcset="./images/cat-2-desktop.png 1x, ./images/cat-2-desktop@2x.png 2x"
                        alt="Котенок"
                     >
                  </picture>

                  <p class="articles__text p3">Котенок в&nbsp;доме: <br> первая неделя с&nbsp;вами</p>
               </article>
            </a>
         </li>

         <li class="articles__item">
            <a href="/">
               <article class="articles__card">
                  <picture class="articles__image">
                     <source
                        media="(max-width: 1439px)"
                        srcset="./images/cat-3-tablet.png 1x, ./images/cat-3-tablet@2x.png 2x"
                     >
                     <img
                        src="./images/cat-3-desktop.png"
                        srcset="./images/cat-3-desktop.png 1x, ./images/cat-3-desktop@2x.png 2x"
                        alt="Котенок"
                     >
                  </picture>

                  <p class="articles__text p3">Рацион <br> и&nbsp;кормление котят</p>
               </article>
            </a>
         </li>

         <li class="articles__item">
            <a href="/">
               <article class="articles__card">
                  <picture class="articles__image">
                     <source
                        media="(max-width: 1439px)"
                        srcset="./images/cat-4-tablet.png 1x, ./images/cat-4-tablet@2x.png 2x"
                     >
                     <img
                        src="./images/cat-4-desktop.png"
                        srcset="./images/cat-4-desktop.png 1x, ./images/cat-4-desktop@2x.png 2x"
                        alt="Котенок"
                     >
                  </picture>

                  <p class="articles__text p3">Социализация <br> и&nbsp;игры для&nbsp;котенка</p>
               </article>
            </a>
         </li>
      </ul>
   </div>
</section>