<section class="cards">
    <div class="container">
        <h2 class="cards__title h2">Все&nbsp;ли вы&nbsp;купили для&nbsp;вашего котёнка?</h2>
        <p class="cards__text p2">Проверьте по списку товары, необходимые котенку с&nbsp;первых дней пребывания у&nbsp;вас дома</p>

        <ul class="cards__list">
            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_1">
                        <img class="card__image" src="./images/icons/feed.svg" alt="Корм для котят">
                        <h3 class="card__title p3">Корм для&nbsp;котят</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a class="cards__link" href="/">
                    <article class="card card--line_2">
                        <img class="card__image" src="./images/icons/bowl.svg" alt="Миски для кормления">
                        <h3 class="card__title p3">Миски для&nbsp;кормления</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_3">
                        <img class="card__image" src="./images/icons/scratching-post.svg" alt="Когтеточка">
                        <h3 class="card__title p3">Когтеточка</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_4">
                        <img class="card__image" src="./images/icons/brush.svg" alt="Щетка и расческа">
                        <h3 class="card__title p3">Щетка и&nbsp;расческа</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_5">
                        <img class="card__image" src="./images/icons/sleeping-place.svg" alt="Лежанки">
                        <h3 class="card__title p3">Лежанки</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_6">
                        <img class="card__image" src="./images/icons/carrying-bag.svg" alt="Cредства транспортировки">
                        <h3 class="card__title p3">Cредства транспортировки</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_7">
                        <img class="card__image" src="./images/icons/toilet.svg" alt="Корм для котят">
                        <h3 class="card__title p3">Туалет и&nbsp;наполнитель</h3>
                    </article>
                </a>
            </li>

            <li class="cards__item">
                <a href="/">
                    <article class="card card--line_8">
                        <img class="card__image" src="./images/icons/cat-toys.svg" alt="Корм для котят">
                        <h3 class="card__title p3">Игрушки</h3>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>