<section class="phases">
   <div class="container">
      <div class="phases__header">
         <h2 class="phases__title h2">Подберите корм в&nbsp;соответствии с возрастом&nbsp;вашего питомца</h2>
         <p class="phases__text p2">Питание и фазы роста котят</p>
      </div>
   </div>
   <div class="phases__scroll-container">
      <picture>
         <source media="(max-width: 767px)" srcset="./images/phases-cats-mobile.png" width="1245" height="312">
         <source media="(max-width: 1439px)" srcset="./images/phases-cats-tablet.png" width="1360" height="360">
         <img
            class="phases__image"
            src="./images/phases-cats-desktop.png"
            width="1440"
            height="360"
            alt="Фазы питания и роста кота."
         >
      </picture>

   </div>
</section>