<section class="territory">
   <div class="container">
      <h2 class="territory__title h2">Как организовать территорию для&nbsp;котёнка в&nbsp;доме?</h2>
      <p class="territory__text p2">Посмотрите, как&nbsp;правильно распределить зоны для&nbsp;котенка</p>

      <ul class="territory__list">
         <li class="territory__item">
            <article class="accordion">
               <button class="accordion__button accordion__button--image_1" type="button" aria-label="Кнопка показать информацию">
                  <h3 class="accordion__title p1">Кухня</h3>
                  <p class="accordion__text p4">зона кормления</p>
               </button>

               <ul class="accordion__list">
                  <li class="accordion__item p4">
                     Необходимо как&nbsp;минимум две миски: для&nbsp;корма и&nbsp;чистой свежей воды.
                  </li>

                  <li class="accordion__item p4">
                     Миски для корма и&nbsp;воды должны стоять на&nbsp;расстоянии
                     друг от&nbsp;друга, не&nbsp;рядом с&nbsp;туалетным лотком.
                  </li>

                  <li class="accordion__item p4">
                     Миску для воды можно заменить питьевым фонтанчиком —
                     чаще кошки охотнее пьют проточную воду.
                  </li>

                  <li class="accordion__item p4">
                     Если в доме не один этаж, нужно установить миски на каждом этаже.
                  </li>

                  <li class="accordion__item p4">
                     Если в доме несколько питомцев, нужно обеспечить индивидуальные зоны кормления.
                  </li>
               </ul>
            </article>
         </li>

         <li class="territory__item">
            <article class="accordion">
               <button class="accordion__button accordion__button--image_2" type="button" aria-label="Кнопка показать информацию">
                  <h3 class="accordion__title p1">Гостиная</h3>
                  <p class="accordion__text p4">зона игр</p>
               </button>

               <ul class="accordion__list">
                  <li class="accordion__item p4">
                     В предоставленных ему владениях котенок будет развлекаться долгими часами,
                     а значит, игровая зона должна быть самой большой по размерам.
                  </li>

                  <li class="accordion__item p4">
                     Ваш питомец сможет здесь вдоволь бегать и забираться на высоту,
                     используя для этого столы, шкафы, полки, спинки кресел и т.п.
                  </li>

                  <li class="accordion__item p4">
                     Кошки любят устраиваться на&nbsp;уровне лица своего хозяина.
                     Так ваша любимица сможет потереться о&nbsp;вас,&nbsp;
                     как&nbsp;она делает это, общаясь&nbsp;с другими кошками.
                  </li>
               </ul>
            </article>
         </li>

         <li class="territory__item">
            <article class="accordion">
               <button class="accordion__button accordion__button--image_3" type="button" aria-label="Кнопка показать информацию">
                  <h3 class="accordion__title p1">Спальня</h3>
                  <p class="accordion__text p4">зона отдыха</p>
               </button>

               <ul class="accordion__list">
                  <li class="accordion__item p4">
                     Маленькому котенку нужно много спать. Разместите
                     для него в&nbsp;уютных уголках дома подушки, покрывала, корзины.
                  </li>

                  <li class="accordion__item p4">
                     Предусмотрите несколько &laquo;спальных мест&raquo;,
                     в&nbsp;том числе и&nbsp;на&nbsp;достаточной высоте, там
                     кошки чувствуют себя в&nbsp;безопасности. Котенок сам
                     выберет, где ему нравится спать больше всего.
                  </li>

                  <li class="accordion__item p4">
                     Обустройство зон для отдыха в&nbsp;разных частях дома
                     позволит кошке иметь возможность выбора и собственное место, даже если
                     у&nbsp;вас несколько кошек.
                  </li>
               </ul>
            </article>
         </li>

         <li class="territory__item">
            <article class="accordion">
               <button class="accordion__button accordion__button--image_4" type="button" aria-label="Кнопка показать информацию">
                  <h3 class="accordion__title p1">Ванная</h3>
                  <p class="accordion__text p4">туалетная зона</p>
               </button>

               <ul class="accordion__list">
                  <li class="accordion__item p4">
                     Лоток для&nbsp;котенка должен быть подходящего размера,
                     чтобы&nbsp;питомец мог&nbsp;им&nbsp;пользоваться, не&nbsp;устраивая беспорядка.
                  </li>

                  <li class="accordion__item p4">
                     Во&nbsp;избежание неприятного запаха и&nbsp;загрязнений от&nbsp;рассыпавшегося
                     наполнителя, есть&nbsp;вариант закрытого лотка. Предоставьте котенку
                     выбрать самостоятельно, какой лоток использовать: открытый или&nbsp;закрытый.
                  </li>

                  <li class="accordion__item p4">
                     Если&nbsp;в&nbsp;доме несколько кошек, для&nbsp;каждой из&nbsp;них&nbsp;понадобится отдельный лоток
                     в&nbsp;тихом месте. Общее правило: количество лотков должно быть на&nbsp;один больше, чем
                     количество кошек (N+1), то&nbsp;есть для&nbsp;одной кошки понадобится два&nbsp;лотка,
                     для&nbsp;двух — три и т. д.
                  </li>
               </ul>
            </article>
         </li>
      </ul>
   </div>
</section>