<section class="video">
   <div class="container">
      <h2 class="video__title h2">Видео</h2>

      <ul class="video__list">
         <li class="video__item">
            <div class="video__wrap-iframe">
               <iframe class="video__iframe" width="560" height="315" src="https://www.youtube.com/embed/SobpATh5FeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="video__text p1">Котенок в доме: чек-лист</p>
         </li>

         <li class="video__item">
            <div class="video__wrap-iframe">
               <iframe class="video__iframe" width="560" height="315" src="https://www.youtube.com/embed/SobpATh5FeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="video__text p1">Выбор корма для котенка</p>
         </li>
      </ul>
   </div>
</section>